{% extends "webapp/frame.html" %}
{% block content %}
    <div class="container-fluid center title">
        <h1 class="display-6">Hola! Bienvenido!</h1>
    </div>
    <div class="container-fluid center">
        <p class="lead">Mi nombre es Jorge Rivera. Soy el propietario de Smart Software Development for Enterprises.</p>
        <p class="lead">Soy un Ingeniero de Software, lo he sido por alrededor de 14+ a&ntilde;os. Actualmente 
            trabajo con tecnolog&iacute;as Python y Liferay, tengo una vasta experiencia trabajando con servicios y aplicaciones web,
            los &uacute;ltimos 5 a&ntilde;os he trabajado con aplicaciones web como desarrollador completo (front-end y back-end)
            entre las diferentes tecnolog&iacute;as con las que he trabajado se encuentran jQuery, AngularJS, Liferay, Struts 2, Hibernate y Spring
        <hr class="my-4">
    </div>
    <br><br><br>
{% endblock %}