{% extends "webapp/frame.html" %}
{% block content %}
{% load staticfiles %}
    <div class="container-fluid center title">
        <h1 class="display-4">Quieres un presupuesto?</h1>
    </div>
    <div class="container-fluid center title">
        <p>Estamos aqu&iacute; para ti, ll&aacute;manos: </p>
    </div>
    <div class="container-fluid center title">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 contact-box no-gutters font-purple">
                <i class="fas fa-mobile fa-5x"></i>
                <h5>Tel&eacute;fono</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"></i>+5255 7143 6496</li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 contact-box no-gutters font-blue">
                <i class="fas fa-envelope fa-5x"></i>
                <h5>Correo electr&oacute;nico</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">jorge.rivera@ssde.com.mx</li>
                    <li class="list-group-item">contacto@ssde.com.mx</li>
                    <li class="list-group-item">ventas@ssde.com.mx</li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 contact-box no-gutters font-red">
                <i class="fas fa-comments fa-5x"></i>
                <h5>Mensaje de texto</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">+5255 7143 6496</li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 contact-box no-gutters font-green">
                <i class="fab fa-whatsapp fa-5x"></i>
                <h5>Whatsapp</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">+5255 7143 6496</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <hr class="my-4">
        <br><br><br>
    </div>
{% endblock %}