{% extends "webapp/frame.html" %}
{% block content %}
    <div class="container-fluid center title">
        <h1 class="display-3 font-capitals2 center">Smart Software Development for Enterprises</h1>
    </div>
    <div class="container-fluid title">
        <h3 class="display-6 center">Quieres crear una p&aacute;gina web para tu negocio y no sabes como?</h3>
        <hr class="my-4">
    </div>
    <div class="container-fluid title">
        <h3 class="display-6 center">Te gustar&iacute;a automatizar la gesti&oacute;n tu negocio pero ningun programa que hay se ajusta a tus necesidades?</h3>
        <hr class="my-4">
    </div>
    <br><br><br>
    <div class="container-fluid">
        Te invito a que me conozcas, tengo una amplia variedad de soluciones, podemos integrar la facturaci&oacute;n electr&oacute;nica a las aplicaciones de se desarrollen
    </div>
    <br><br><br>
{% endblock %}